// Place all the styles related to the pokebolas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.table1 {border:5px solid; background-color:#FFFF00; border-color:#1E90FF; margin-left:50px; margin-top:50px;}