// Place all the styles related to the pokebolas controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.table1{
    border:5px solid #3860AA; 
    background-color: #FFCB05; 
    margin: 5px;
}