// Place all the styles related to the treinadors controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/








.table {border:5px solid; 
background-color:#FFCB05;
border-color:#3860AA;
margin: 5px;
    }
    
 .Especialidade{border: none;
  padding: 2px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius:5px;
     
 }  
    
    
    
.Fogo{
    background-color: #fd7d24;;
    color: white;
}

.Agua{
    background-color: #4592c4;
    color: white;
}

.Fada{
    background-color: pink;
    color: white;
}

.Inseto{
    background-color: #729f3f;
    color: white;
}

.Veneno{
    background-color: #b97fc9;
    color: white;
}

.Aco{
    background-color: #9eb7b8;
    color: white;
}

.Normal{
    background-color: #a4acaf;
    color: white;
}


.Pedra{ background-color:#a38c21;
        color:white;
    }


.Terra{background: linear-gradient(180deg, #f7de3f 50%, #ab9842 50%);
    color:white;
}

.Lutador{background-color:#d56723;
         color:white;
    
}